[data-eta='header'] {
  width: 100vw;
  padding: 0;

  [data-eta='top'] {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position-y: 20%;
    min-height: 400px;

    [data-eta='brand'] {
      font-family: 'Roboto', sans-serif;
      padding-top: 20px;
      color: white;
      font-size: 15em;
    }
  }

  [data-eta='menu'] {
    background-color: #00838F;


    [data-eta='menu-link'] {
      padding: 10px;
      font-size: 2em;

      a {
        color: white;
      }
    }
  }

}